# Binaries
**/bin/
!vendor/bin/premake/
bin-int/
bin/

# Files
*.user
Makefile
Hazel.config
Hazel.creator
Hazel.files
Hazel.includes
imgui.ini

# Hazel files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
